:root {
    --bg-color: #538ca7;
    --bg-color-2: #f3c78dd7;
    --bg-color-icon: #e9c083;
    --outline-color: #eb8c4c;
    --bg-color-topbar: #495d88;
    --bg-color-topbar-hover: #304777;
    --bg-color-footer: #282f42;
    --bg-color-footer-hover: #222630;
    --fg-color: #2192bb;
    --fg-color-2: #3c5d6d;
    --fg-color-topbar: #b9b9df;
    --fg-color-footer: #a9b2d6;
    --fg-color-highlight: #f06203;
    --fg-color-title: #2e2d63;
    --fg-color-topbar-hover: #ffbb00;
    --fg-color-footer-hover: #ffbb00;
    --bg-color-icon-hover: #83e2e9;
    --outline-color-hover: #4c8ceb;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg,rgba(42, 130, 168, 1) 0%, rgba(119, 237, 204, 1) 50%, rgba(176, 235, 221, 1) 100%);
    color: var(--fg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: justify;
    font-weight: 800;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--bg-color-topbar);
    color: var(--fg-color-topbar);
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.header a {
    color: var(--fg-color-topbar);
    text-decoration: none;
    border-radius: 10px;
    transition: 200ms;
}

.header a:hover {
    color: var(--fg-color-topbar-hover);
    background-color: var(--bg-color-topbar-hover);
}

.icon {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid var(--outline-color);
    border-radius: 10px;
    background-color: var(--bg-color-icon);
    transition: 200ms;
}

.icon:hover {
    cursor: pointer;
    background-color: var(--bg-color-icon-hover);
    border: 4px solid var(--outline-color-hover);
}

.icon img {
    width: 40px;
}

.icon a:hover {
    background-color: #ffffff00;
}

.barList {
    margin: 17px;
}

.barList * {
    padding: 10px;
}

.foot {
    margin-top: auto;
    background-color: var(--bg-color-footer);
    color: var(--fg-color-footer);
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.foot * {
    margin: 5px;
}

.foot a {
    color: var(--fg-color-highlight);
    text-decoration: none;
    transition: 200ms;
}

.foot a:hover {
    color: var(--fg-color-footer-hover);
    background-color: var(--bg-color-footer-hover);
}

.bodyBox h1 {
    color: var(--fg-color-title);
    font-size: 6.5vh;
}

.bodyBox h2 {
    color: #252525;
    font-size: 3.7vh;
}

.bodyBox p {
    font-size: 2.2vh;
}

.bodyBox {
    background-color: var(--bg-color-2);
    color: var(--fg-color-2);
    max-width: 70vh;
    padding: 20px 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    border: 4px solid var(--outline-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}